@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap');

// colors

$tan: #FAF4E5;
$orange: #D9A215;
$green: #52643C;
$lightGreen: #CEDAB6;

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    max-width: 100vw;
    overflow: hidden;
}